{{>adminnavbar}}
    <div class="col-sm-9 padding-right">
        <h2>Aktywne zamówienia</h2>
        {{# each orders}}
        <div class="panel panel-primary">
         <div class="panel-heading">{{dateFormat this.create_date "D.MM.YYYY  HH:mm"}}<br>
          <b>ID Płatności: {{this.paymentId}}<br></b>
         {{this.user.email}} {{this.user.firstName}} {{this.user.lastName}} tel.{{this.user.phoneNumber}}<br>
         {{this.user.city}} ul.{{this.user.street}} {{this.user.buildingNumber}}/{{this.user.flatNumber}}
         </div>
            <div class="panel-body">
                <ul class="list-group">
                    {{# each this.items}}
                        <li class="list-group-item">
                        <span class="badge">{{this.price}} zł</span>
                        {{this.item.title}} | {{this.qty}}
                        
                        </li>
                    {{/each}}
                </ul>
            </div>
            <div class="panel-footer">
               <strong>{{this.cart.totalPrice}} zł</strong><p class="pull-right">{{this.status}}</p>
           
   <form action="/admin/activeorders" method="post">
              <div class="form-group">
                        <select type="text" id="status" name="status" class="form-control"/>
                        <option>inprogress</option>
                        <option>done</option>
                        <option>canceled</option>
                        </select> 
                        <input type="hidden" name="id" value="{{ this.id }}">
                        <input type="hidden" name="_csrf" value="{{ csrfToken }}"> 
              </div>
                   
                 <button type="submit" class="btn btn-danger" >Zmień status zamówienia</button>   
                  </form>
            </div>
        </div>
        {{/each}}
    </div>

<script>
    $('.panel-primary .pull-right').each(function () {
        $(this).filter(":contains('done')").parent().parent().remove();
    });
    $('.panel-primary .pull-right').each(function () {
        $(this).filter(":contains('canceled')").parent().parent().remove();
    }); // delete panels w/o active orders
</script>