{{# if products}} <!-- Jeśli mamy produkty w koszyku wyświetl je-->

    <div class="col-sm-8">
        <ul class="list-group">
            {{# each products}}
            <li class="list-group-item">
                <span class="badge">{{this.qty}}</span>  
                <h3><a href="/bookinfo/{{this.item._id}}" ><strong>{{this.item.title}}</strong></a></h3>    
                <h4><span class="label label-success">{{this.price}} zł</span><a href="#"></h4>
                <a href="/removeOne/{{this.item._id}}" class="btn btn-danger"><i class="fa fa-trash"" aria-hidden="true"></i></a>
               
            </li>
            {{/each}}
        </ul>
    </div>


    <div class="col-sm-3">
      <strong>Do zapłaty  <strong style="color:#FE980F; font-size:24px"> {{totalPrice}} zł </strong></strong>
            
    </div>


    <div class="col-sm-3">
               <a href="/checkout" type="button" class="btn btn-success navbar-right">Dalej</a>
    </div>

{{ else }}

    <div class="col-sm-9 padding-right">
        <h2>Twój koszyk jest pusty</h2>
    </div>

{{/if}}